.secao_perguntas{
    margin-right:30px;
   
    margin-left: 30px;

}


.faq {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid #E24E1B;
    border-radius: 2px;
    background-color: white;
   
   
    
}
.faq h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.faq p {
    margin: 10px 0;
    display: none;
}
.faq.active p {
    display: block;
}
.faq h3::before {
    content: "\25BC";
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}
.faq.active h3::before {
    content: "\25B2";
}
.espace{
    padding: 70px;
}